@page
@model WebAppSynthesis.Pages.SignUpModel
@{
    ViewData["Title"] = "Sign Up  page";

}
@*
 *@



    <form class="form-horizontal" method="POST">
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name:</label>
            <div class="col-sm-10">
                <input asp-for="userDTO.Name " type="text" class="form-control" id="name" placeholder="Enter your name">
                <span asp-validation-for="userDTO.Name"></span>

            </div>

        </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="surname">Surname:</label>
        <div class="col-sm-10">
            <input asp-for="userDTO.Surname " type="text" class="form-control" id="surname" placeholder="Enter your surname">
            <span asp-validation-for="userDTO.Surname"></span>

        </div>

    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="username">Username:</label>
        <div class="col-sm-10">
            <input asp-for="userDTO.Username " type="text" class="form-control" id="username" placeholder="Enter username">
            <span asp-validation-for="userDTO.Username"></span>

        </div>

    </div>

        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-10">
                <input asp-for="userDTO.Password" type="password" class="form-control" id="pwd" placeholder="Enter your password">
                <span asp-validation-for="userDTO.Password"></span>

            </div>
        </div>
    @*    <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                </div>
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
<div>
    @ViewData["Message"]
</div>


@section Scripts {
            <partial name="_ValidationScriptsPartial" />
    }